body{
	margin: 0;
	padding: 0;
	border: 0;
    background : #eaeaea url('../images/bg.png');
    color: #4d4d4d;
    -webkit-font-smoothing: antialiased;
    font-smoothing : antialiased;
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}


